<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>net.gokul.helium-bangs-mirror</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>SCRIPT_PATH</string>
    <string>--port</string>
    <string>PORT</string>
    <string>--manifest</string>
    <string>MANIFEST</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>HOME/.no-leak-helium/bangs-mirror.out</string>
  <key>StandardErrorPath</key>
  <string>HOME/.no-leak-helium/bangs-mirror.err</string>
</dict>
</plist>